.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.nicodemos {
    color: #ff2521;
    position: absolute;
    left: 50px;
}

.header ul {
    list-style-type: none;
}

.header ul li {
    float: left;
    margin: 0px 30px;
}

.header ul a {
    color: #cdbcbc;
    text-decoration: none;
}

.header ul a:hover, .active {
    color: #ff2521 !important;
}

@media (max-width: 768px) {
    .nicodemos {
        display: block;
        position: unset;
    }
    .header {
        display: flex;
        flex-flow: column;
    }
    .header nav {
        margin-top: 10px;
    }
}

@media (max-width: 375px) {
    .header ul li {
        margin: 0px 15px;
    }
}

@media (max-width: 276px) {
    .header ul li {
        margin: 0px 5px;
    }
}