@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy-bold";
    src: url("../fonts/Gilroy-ExtraBold.otf");
}

body {
    background-color: #2e2836;
    color: #cdbcbc;
    font-family: Gilroy-bold;
    height: 100vh;
    font-size: 20px;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    font-size: 45px;
}

.nico-flex {
    display: inline-flex;
    justify-content: center;
    max-width: 1080px;
    align-items: center;
    height: 100%;
    padding-bottom: 100px;
}

.nico-flex h1 {
    margin-bottom: 15px;
}

.nico-flex p {
    font-size: 22px;
}

.container-main {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#__next {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    min-height: 700px;
}

.socialbtn {
    max-width: 40px;
}

.socials {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.socials a {
    margin-right: 15px;
}

a {
    color: #ff2521;
    cursor: pointer;
    transition: all ease-in .3;
    text-decoration: none;
}

a:hover {
    filter: brightness(.7);
}

/* Mobile */

@media (max-width: 768px) {
    .nico-flex {
        display: flex;
        flex-flow: column-reverse;
        padding: 0px;
        width: 100%;
        padding-bottom: 20px;
    }
    .nico-flex div img {
        width: 100%;
    }
    .nico-flex .nico-index {
        padding: 0px 20px;
        text-align: center;
    }
    .nico-flex .socials {
        justify-content: center;
    }
    .nico-index h1 {
        margin-top: 20px;
    }
    #__next, .container-main {
        display: block !important;
    }
    #__next, .container-main, .nico-flex, body {
        height: unset;
    }
    .nicoimage {
        max-width: 300px;
    }
}

@media (min-height: 657px) {
    #__next {
        height: 100vh;
    }
}

@media (min-width: 1080px) {
    body {
        background-size: contain;
    }
}


.carousel-root .control-dots, .carousel-status{
    display: none !important;
}

.carousel .slide {
    background: none !important;
}


.carousel.carousel-slider .control-arrow:hover {
    background-color: transparent !important;
}

.carousel-root {
    max-width: 100%;
}